doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title DNA
    link(href='http://bootswatch.com/sandstone/bootstrap.min.css', rel='stylesheet')
    link(rel='icon', type='image/ico', href='http://www.deplex.net/favicon.ico', sizes='32x32')
    link(rel='apple-touch-icon', href='http://www.deplex.net/apple.png', sizes='128x128')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    style.
      body {
      	position: relative;
      }
      .img-thumbnail {
	      mix-height: 200px;
	      max-height: 200px;
	      min-width: 250px;
	      max-width: 250px;
      }
body(data-spy='scroll', data-target='.navbar', data-offset='50')
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') DNA
      div
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#intro') Introduction
            li
              a(href='#disc') Discovery
            li
              a(href='#prot') Protein Synthesis
            li
              a(href='#recom') Recombination
            li
              a(href='#ge') Genetic Engineering
  .container-fluid(style='margin-top: 60px; padding: 60px !important;')

    #intro.page-header
      h2 Introduction #[small What is Deoxyribonucleic acid?]
    blockquote
      p Deoxyribonucleic acid (DNA) is a molecule that carries most of the genetic instructions used in the development, functioning and reproduction of all known living organisms and many viruses.
      small
        a(target='_blank', href='https://en.wikipedia.org/wiki/DNA') Wikipedia
    p DNA provides the instructions used by ribosomes to create proteins. These proteins carry out all necessary tasks an organism needs to do in order to survive. Thus, DNA is actually one of the most important scientific discoveries ever made because it allows us to understand how animals (including ourselves) function.

      #disc.page-header
        h2 Discovery #[small Who helped discover DNA?]
      mixin media(source, name, facts)
        .media
          .media-left
            a(href = source, target = "_blank")
              img.media-object.img-thumbnail(src = source)
          .media-body
            h2.media-heading= name
            ul
              each fact in facts
                li= fact
      +media("http://80.251.40.59/veterinary.ankara.edu.tr/fidanci/Ders_Notlari/Ders_Notlari/Nukleik_Asitler/Watson%20ve%20Crick%202.jpg", "James Watson and Francis Crick", ["Watson: 1928-Current", "Crick: 1916-2004", "Discovered structure of DNA in 1954", "Analyzed information collected by Maurice Wilkins and Rosalind Franklin without their permission", "Due to their work, human understanding of life was fundamentally changed and the modern biological era was ushered in"])

      +media("https://upload.wikimedia.org/wikipedia/en/9/97/Rosalind_Franklin.jpg", "Rosalind Franklin", ["Was an English chemist", "Also an X-ray crystallographer", "X-ray Crystallograpy - A method used to identify the atomic and molecular structure of crystals", "Created X-ray diffraction images of DNA at King's College, London, which were then looked over by Watson & Crick"])

      +media("http://www.whatisbiotechnology.org/assets/images/people/wilkins.jpg", "Maurice Wilkins", ["1916-2004", "Developed method of X-ray diffraction which was used to create radar and the field of X-ray crystallograpy", "Instructed Raymond Gosling to send Watson Franklin's image without her permission", "Motivated Watson to restart research efforts when he saw it"])

      +media("http://www.forensicgenealogy.info/images/franklin_gosling.jpg", "Raymond Gosling", ["1926-2015", "\"Gosling worked on X-ray diffraction with Maurice Wilkins analyzing samples of DNA which they prepared by hydrating and drawing out into thin filaments and photographing in a hydrogen atmosphere.\"", "Developed the X-ray diffraction image known as \“Photograph 51\”, in May 1952, which was extraordinary evidence in proving Watson & Crick’s theory right"])

      +media("http://www.villages-news.com/wp-content/uploads/2015/08/Linus-Pauling.jpg", "Linus Pauling", ["1901-1994", "His interest in molecular structure lead him to publish his first papers on how atoms share their electrons", "He held multiple professor and head of institute titles from 1925-1955", "Linus published over 800 books on scientific topics in his lifetime", "He also worked on the DNA structure problem, and his previous work assisted Watson & Crick"])

      #prot.page-header
        h2 Protein Synthesis #[small How are proteins made? (Andi)]
      ul
        li Central Dogma - states that RNA will be made from DNA through transcription & proteins will be made from RNA through translation
        li DNA
        ul
          li Double helix made up of nucleotides
          li Uses deoxyribose as sugar
        li RNA
        ul
          li Single strand but also made up of nucleotides
          li Uses ribose as sugar
        li Transcription
        ul
          li Process of RNA being made of DNA
          li Uses RNA Polymerase enzyme
        li Initation
        ul
          li RNA Polymerase binds to DNA promoter region
          li Unzips DNA
          li Begins transcription
        li Elongation
        ul
          li RNA strand elongates as RNA Polymerase continues to add RNA nucleotides
          li RNA Polymerase reads backwards
        li Termination - RNA Polymerase will hit termination region and signal end of transcription
        li Result: mRNA strand (messenger RNA)
        li RNA Processing
        ul
          li Occurs before mRNA is sent out of nucleus
          li Caps are added to its ends to make it more stable (eukaryotes only)
          li Introns (noncoding regions) are removed in order to make final product, only parts left are exons (coding regions) and caps
        li Translation
        ul
          li Process of mRNA being used to synthesize proteins
          li mRNA attaches to a ribosome (rRNA) which combines amino acids to create polypeptides which in turn are chained together to create proteins
          li Codons - sequences of 3 nucleotides that make up the mRNA that are used to code for a certain amino acid
          li tRNA is used to bring in correct amino acids in the order described by mRNA

      #recom.page-header
        h2 Recombination #[small What is recombination? (Dylan)]
      ul
        li Recombination is the process of breaking down DNA into pieces and then recombining them in a new and different sequence or pattern. Most recombination happens in the process of meiosis and makes new sex cells
        li Recombination occurs in a different way in bacteria
        li An important point of Recombination is the process of crossing over when the section of DNA are exchanged and change the structure of DNA
        li Recombination helps to create DNA for two identical daughter cells

      #ge.page-header
        h2 Genetic Engineering #[small What is genetic engineering? (Dylan)]
      ul
        li Genetic engineering (GE) is the altering the genetic composition of an organism by artificial means, often being the transfer of specific traits, or genes, from one species or organism into a plant or animal of a different species
        li An example of the way scientist us GE is in modifying plants and crops to be able to survive better against different weather and insects
        li Scientist are trying to input different genes into many animals to prevent the spread of different disease. There have been some fish that are genetically to grow larger and faster than other wild fish of that species
        li Bio Engineering uses the process of transformation to take the gene that codes for one thing out of the DNA of the organism and inserts the gene coded for something else into the strand
        li They take the DNA that codes for a specific trait out of something then clones the gene or copying it over. They uses the process of transgene which is where they insert the gene into a bacteria insert the bacteria into the plant and the bacteria inserts the gene into the plant cell. The use traditional breeding after inserting the gene into the plant/animal to improve the final product and genetically improve the pool or species group

      .page-header
        h2 Citations
      h4 Information
      ul
        li
          a(href = "http://ghr.nlm.nih.gov/handbook/basics/dna") http://ghr.nlm.nih.gov/handbook/basics/dna
        li
          a(href = "https://en.wikipedia.org/wiki/Genetic_recombination") https://en.wikipedia.org/wiki/Genetic_recombination
        li
          a(href = "https://en.wikipedia.org/wiki/DNA") https://en.wikipedia.org/wiki/DNA
        li
          a(href = "http://www.sustainabletable.org/264/genetic-engineering") http://www.sustainabletable.org/264/genetic-engineering
        li
          a(href = "https://en.wikipedia.org/wiki/Genetic_engineering") https://en.wikipedia.org/wiki/Genetic_engineering
      h4 Images
      p Simply tap on an image to be taken to its source.
